@import "../../style/variable";

.add-project-container{
    margin: auto;
    width: 60%;
    background-color: rgb(249, 182, 153);
    border-radius: 10px;
    .title{
        justify-content: space-between;
        .title-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
        }
    }
    .project-information{
        .left{
            width: 50%;
            button{
                float: right;
                padding: 5px 10px;
            }
            .category{

            }
        }
        .right{
            width: 50%;
        }
        
    }
    .btn-group{
        display: flex;
        justify-content: flex-end;
        button{
            padding: 5px 10px;
        }
    }
}
input{
    border-radius:5px;
    border: solid 1px $grey;
    margin: 5px 0;
    background-color: white;
    &:focus{
        outline: none;
    }
}
.list-manager{
    border: solid 1px $grey;
    border-radius:10px;
    background-color:white;
}
.manager{
    justify-content: space-between;
}