@import '_variable.scss';
@import '_reset.scss';

.d-flex-row{
    display: flex;
    flex-direction: row;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
}

.p-1{
    padding: 10px;
}
.m-1{
    margin: 10px;
}
.primary{
    background-color: $primary;
}
.secondary{
    background-color: $secondary;
}
.danger{
    background-color: $danger;
}
.grey{
    background-color: $grey;
}
.info{
    background-color: $info;
}

::-webkit-scrollbar-track{
    width: 5px;
    background-color: #ddd;
}

::-webkit-scrollbar-thumb{

}

form{
    width: 100%;
    padding: 40px;

    background-color: #fff;

    .form-label{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        font-weight: 500;

        input{
            margin-bottom: 2px;
            margin-top: 10px;
            padding: 5px 10px;

            border: 1px solid $grey;
            border-radius: 4px;
            outline: none;

            font-size: 1.2rem;
        }

        &.error{
            input{
                border-color: #ff0000;
            }
        }


        span{
            color: red;
        }

    }

    input[type=submit]{
        padding: 5px 20px;

        border: none;
        border-radius: 200px;
        outline: none;

        background-color: #aaa;
        color: #fff;

        text-transform: uppercase;
        font-size: 1.1rem;
        cursor: pointer;
    }
}
